<div class="cat-filter-list">
    <a href="/{{ lang }}/account" class="cat-filter {{ current_path == '/account' ? 'active' : '' }}">{{ t('account.nav_customer_info') }}</a>
    <a href="/{{ lang }}/account/orders" class="cat-filter {{ current_path == '/account/orders' ? 'active' : '' }}">{{ t('account.nav_orders') }}</a>
    <a href="/{{ lang }}/account/password" class="cat-filter {{ current_path == '/account/password' ? 'active' : '' }}">{{ t('account.nav_password') }}</a>
    <a href="/{{ lang }}/account/delete" class="cat-filter {{ current_path == '/account/delete' ? 'active' : '' }}">{{ t('account.nav_delete') }}</a>
</div>
